{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
<script src="https://cdn.ckeditor.com/4.14.1/full/ckeditor.js"></script>
<style>
   label#image-error {
   position: absolute;
   padding-top: 6%;
   }
   .col-md-12 {
   max-width: 80%;
   }
   .error{
   color:red;
   }
   .select2{
   color:black;
   }
   input#exampleCheck1 {
   margin-left: 28px;
   }
   .select2-container--default .select2-selection--multiple .select2-selection__choice {
   background-color: #007bff !important;
   }
   .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
   color: rgba(255,255,255,.7) !important;}
   
   span.select2-selection.select2-selection--single {
    height: calc(2.25rem + 2px) !important;
    border: 1px solid #ced4da !important;
}
</style>


<div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <div class="content-header">
      <div class="container-fluid">
         <div class="row mb-2">
            <div class="col-sm-6" >
               <h1 class="m-0 text-dark">Advertisement Business Management</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
               <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/index">Home</a></li>
                  <li class="breadcrumb-item active">Create Business Advertisement</li>
               </ol>
            </div>
            <!-- /.col -->
         </div>
         <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
   </div>
  
   <section class="content">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-12">
               <div class="card card-primary">
                  <div class="card-header">
                     <h3 class="card-title">Create New  Blog</h3>
                     <a class="nav-link backbtn" href="/index" >
                     <i class="fa fa-times"></i>
                     </a>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->

                 


                  <form role="form" method="POST" action="update" enctype ="multipart/form-data" id="myform">
                       <input type="hidden" name="uid" value="{{ .Id }}" />
                     <div class="card-body">
                        <div class="form-group"> 
                           <label for="exampleInputEmail1">Title  <span class="mandatory">*</span></label>
                           <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ .Name }}">
                          
                        </div>

                        <div class="form-group"> 
                           <label for="exampleInputEmail1">Description  <span class="mandatory">*</span></label>
                           <textarea type="text" class="form-control" id="city" name="city" placeholder="Description" value=""> {{ .City }} </textarea>
                           <script>
                                CKEDITOR.replace('city');
                           </script>
                        </div>

                        <div class="form-group"> 
                        <div class="row">
                         <div class="col-sm-6">
                           <label for="exampleInputEmail1">Image <span class="mandatory">*</span></label>
                           
                          
                    


                    <input type="file" class="form-control" id="banner_image" name="myFile" accept="image/gif, image/jpeg, image/png" value="" onchange="previewimg(this);" value="{{ .Image }}" > </div>
                  
                <div class="col-sm-2">
                    <img id="preview"  @if(.Image != null ) src="{{.Image }}"  @else src="" @endif  height="100px;" width="100px;" style="float:right;" accept="image/gif, image/jpeg, image/png" value="" >
                    <input type="hidden" name="hid_bannerimg" id="hid_bannerimg" value="{{.Image}}">
                  </div>
                  </div>
                  </div>

                         <div class="form-group">
                           <label for="exampleInputEmail1">Province<span style="color:red;">*</span></label>                           
                           <select class="form-control form-control-bck-color-c lato-14-reg uppercase" id="province" name="province">
                              <option value="">Select Province </option>
                            
                              <option value="{{ .Id }}" selected>{{ .Province }}</option>
                             
                            </select>
                           
                        </div>


                        <div class="card-footer">
                        <input type="submit" value="Update Blog" class="btn btn-primary" />
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>




  {{ template "Footer" }}
{{ end }}

<script>

function previewimg(input) 
{
    if (input.files && input.files[0]) 
    {
        var reader = new FileReader();
        reader.onload = function (e) 
        {
            $('#preview').attr('src', e.target.result);
            $('#hid_bannerimg').attr('value', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
    }
}
</script>