{{ define "Footer" }}
<footer class="main-footer">

    <div class="float-right d-none d-sm-block">

      

    </div>

    <strong>Copyright &copy; 2022<a href="">The Blog List</a>.</strong> All rights

    reserved.

  </footer>



  <!-- Control Sidebar -->

  <aside class="control-sidebar control-sidebar-dark">

    <!-- Control sidebar content goes here -->

  </aside>

  <!-- /.control-sidebar -->

</div>

<!-- ./wrapper -->



<!-- jQuery -->

<script src="/css/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap 4 -->

<script src="/css/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- DataTables -->

<script src="/css/plugins/datatables/jquery.dataTables.js"></script>

<script src="/css/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>

<!-- AdminLTE App -->
<script src="/css/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

<script src="/css/dist/js/adminlte.min.js"></script>
<!-- cropper -->
<script src="/css/cropper/js/cropper.js"></script>
<script src="/css/cropper/js/main.js"></script>
<!-- mulitple select -->
<script src="/css/Multiple-Select-Plugin/js/multi_select.js"></script>


<!-- AdminLTE for demo purposes -->

<script src="/css/dist/js/demo.js"></script>
<script src="/css/dist/js/custom.js"></script>
<script src="/css/dist/js/progressbar/jquery.progressTimer.js"></script>
<script src="/css/plugins/summernote/summernote-bs4.min.js"></script>
<!-- Select2 -->
<script src="/css/plugins/select2/js/select2.full.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.13.1/additional-methods.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/2.0.4/js/Jcrop.min.js"></script>
<!-- <script src='https://www.jqueryscript.net/demo/Easy-jQuery-Progress-Bar-Timer-Plugin-For-Bootstrap-3-progressTimer/js/jquery.progressTimer.js'></script> -->
 <script type="text/javascript">
     function logout(event){
            event.preventDefault();
            var check = confirm("Do you really want to logout?");
            if(check){ 
               document.getElementById('logout-form').submit();
            }
     }
 </script>
</div>
</body>
</html>
{{ end }}
